export("%@%")
export(AddConstants)
export(AddDerived)
export(AddNumericConstant)
export(AddNumerics)
export(AddStim)
export(Gazedata)
export(LoadStimdataFile)
export(MakeStimdataConfig)
export(ParseFilename)
export(Stimdata)
export(UpdateConfig)
import(lubridate)
import(plyr)
import(stringr)
import(tools)
importFrom(tools,file_path_sans_ext)
S3method('%@%',default)
S3method('%@%',list)
S3method(Block,character)
S3method(Block,Gazedata)
S3method(Block,Stimdata)
S3method(Session,character)
S3method(Session,list)
