S3method("%@%",default)
S3method("%@%",list)
S3method(Block,Gazedata)
S3method(Block,character)
S3method(Session,character)
S3method(Session,list)
S3method(print,OptionList)
export("%@%")
export("%@%<-")
export(AddConstants)
export(AddDerived)
export(AddNumericConstant)
export(AddNumerics)
export(AddStim)
export(Block)
export(Gazedata)
export(LoadStimdataFile)
export(MakeStimdataConfig)
export(ParseFilename)
export(Session)
export(Stimdata)
export(UpdateConfig)
import(plyr)
import(stringr)
importFrom(lubridate,hms)
importFrom(lubridate,mdy)
importFrom(tools,file_path_sans_ext)
